body {
    padding: 0;
    margin: 0;
    text-align: center;
    font-family:Verdana;
}

.game-intro {
    background-image: url("/images/background_intro_game_over.jpg");
    background-size: cover;
    height: 100vh;
}

.game-intro > h1 {
    font-size: 80px;
}

.game-intro > div {
    display: flex;
    justify-content: center;
}

#cat-img {
    width: 300px;
}

#dog-img {
    width: 300px;
}

#intro-order {
    display: flex;
    flex-direction: column;
    justify-content: center;
}



.start-button {
    width: 200px;
    height: 50px;
    align-self: center;
    font-size: 30px;
    color: white;
    margin-top: 50px;
    margin-bottom: 20px;
    background-color: cornflowerblue;
    border-radius: 10px;
}

.game-board {
    padding: 20px 0px;
}

.game-over {
    background-image: url("/images/background_intro_game_over.jpg");
    background-size: cover;
    height: 100vh;
}

.game-over > h1 {
    font-size: 100px;
    padding-top: 30px;
}

.game-over > p {
    font-size: 40px;
}

.restart-button {
    width: 200px;
    height: 50px;
    align-self: center;
    font-size: 30px;
    color: white;
    margin-top: 30px;
    margin-bottom: 20px;
    background-color: cornflowerblue;
    border-radius: 10px;
}
